.btn{
    display: block !important;
    width:100% !important;
    font-size: 1.8rem !important;
    line-height:1 !important;
    font-weight: 300 !important;
    text-transform: uppercase !important;
    color:white !important;
    background: black !important;
    padding: 1rem 10px !important;
    margin: 0 auto !important;
    border:0 !important;
    outline: none !important;
    cursor: pointer;
}