.modalOverlay {
    position: fixed !important;
    top: 0; left: 0;
    width: 100% !important;
    height: 100% !important;
    background-color: rgba(0,0,0,.3);
}
  
  .modal {
    position: absolute !important;
    top: 50% !important; 
    left: 50% !important;
    -webkit-transform: translate(-50%, -50%) !important;
    -moz-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
    background-color: white !important;
    width: 95% !important;
    padding: 10px !important;
    max-width: 60rem !important;
    height: auto !important;
    min-height: 40.0rem !important;
    pointer-events: all !important;
    display:block !important;
  } 
